@model List<Shop_Quan_Ao.Models.HoaDon>

@{
    ViewBag.Title = "Index2";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh Sách Đơn Hàng</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã Hóa Đơn</th>
                        <th>Tên Khách Hàng</th>
                        <th>Số Điện Thoại</th>
                        <th>Địa Chỉ</th>
                        <th>Tổng Tiền</th>
                    </tr>
                </thead>
                <tfoot>
                    @foreach (var item in Model)
                    {
                    <tr class="row_@item.MaHD">
                        <td>@item.MaHD</td>
                        <td>@item.KhachHang.TenKH</td>
                        <td>@item.KhachHang.SDT</td>
                        <td>@item.KhachHang.DiaChi</td>
                        <td>@string.Format("{0:0,0}", item.TongTien) NVĐ</td>
                        <td>
                            @Html.ActionLink("Xem Chi Tiết", "Index", "DonHang", new { id = item.MaHD }, new { @class = "nav-link" })
                        </td>
                        <td>
                            @Html.ActionLink("Xác Nhận Đơn", "XacNhanDon", "DonHang", new { id = item.MaHD }, new { @class = "nav-link" })
                        </td>
                    </tr>

                    }

                </tfoot>
            </table>
        </div>
    </div>
</div>