

@{
    ViewBag.Title = "LichSuMuaHang";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}
@model List<Shop_Quan_Ao.Models.HoaDon>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh Sách Đơn Hàng</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tên Khách Hàng</th>
                        <th>Số Điện Thoại</th>
                        <th>Địa Chỉ</th>
                        <th>Mã Hóa Đơn</th>
                        <th>Ngày Bán</th>
                        <th>Ngày Giao</th>
                        <th>Tổng Tiền</th>
                        <th>@Html.ActionLink("Trở Về", "Index", "KhachHang",null,new { @class= "btn btn-outline-primary" })</th>
                    </tr>
                </thead>
                <tfoot>
                    @foreach (var item in Model)
                    {
                        <tr class="row_@item.MaHD">
                            <td>@item.KhachHang.TenKH</td>
                            <td>@item.KhachHang.SDT</td>
                            <td>@item.KhachHang.DiaChi</td>
                            <td>@item.MaHD</td>
                            <td>@item.NgayBan</td>
                            <td>@item.NgayGiao</td>
                            <td>@string.Format("{0:0,0}", item.TongTien) NVĐ</td>
                        </tr>
                    }
                </tfoot>
            </table>
        </div>
    </div>
</div>
