@using Shop_Quan_Ao.Models;
@{
    ViewBag.Title = "DaDangNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
    KhachHang kh = ViewBag.Khach;
}
@model List<HoaDon>
         
<h1 class="container__account-login-heading">Thông tin tài khoản</h1>
<div class="row">
    <div class="col wide l-9">
        <div class="row">
            <div class="col wide l-12"><p class="container__account-login-name">Xin chào, <span>@kh.TenKH</span></p></div>
        </div>
        <div class="row">
            <div class="col wide l-12"><p class="container__account-login-name">Đơn hàng gần nhất</p></div>
        </div>
        <div class="row">
            <div class="col wide l-12">
                <table class="container__account-login-table">
                    <thead>
                    <th>Đơn hàng #</th>
                    <th>Ngày Đặt</th>
                    <th>Ngày Giao</th>
                    <th>Giá trị đơn hàng</th>
                    <th>Tình trạng thanh toán</th>
                    </thead>
                    <tbody>
@foreach (HoaDon item in Model)
            {
                        <tr>
                            <td>@item.MaHD</td>

                            <td> @String.Format("{0:dd-MM-yyyy}", @item.NgayBan)</td>

                            <td>
                            @String.Format("{0:dd-MM-yyyy}", @item.NgayGiao)</td>

                            <td>@String.Format("{0:0,000}", @item.TongTien) đ</td>

                            <td class="content">@item.Tinhtrang</td>
                        </tr>
}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col wide l-3">
        <div class="row">
            <div class="col wide l-12">
                <div class="col wide l-12"><p class="container__account-login-name">Tài khoản của tôi</p></div>
            </div>
        </div>
        <div class="row">
            <div class="col wide l-12">
                <div class="col wide l-12"><p class="container__account-login-name">Tên tài khoản: <span>@kh.TenKH</span></p></div>
            </div>
        </div>

        <div class="row">
            <div class="col wide l-12">
                <div class="col wide l-12">
                    <a href="@Url.Action("DangXuat","KhachHang")" class="container__account-item-link">Đăng Xuất</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
