@model Shop_Quan_Ao.Models.SanPham

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel panel-heading">
                <h1>Sửa Sản Phẩm</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        @using (Html.BeginForm("Edit", "SanPham", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="form-group">
                                <label>@Html.LabelFor(model => model.MaDM,"Mã Danh Mục")</label>
                                @Html.TextBoxFor(model => model.MaDM, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.MaDM)
                            </div>
                            <div class="form-group">
                                <label>@Html.LabelFor(model => model.TenSP,"Tên Sản Phẩm")</label>
                                @Html.TextBoxFor(model => model.TenSP, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TenSP)
                            </div>
                            <div class="form-group">
                                <label>@Html.LabelFor(model => model.SoLuong,"Số Lượng")</label>
                                @Html.TextBoxFor(model => model.SoLuong, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SoLuong)
                            </div>
                            <div class="form-group">
                                <label>@Html.LabelFor(model => model.DonGia,"Đơn Giá")</label>
                                @Html.TextBoxFor(model => model.DonGia, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DonGia)
                            </div>
                            <div class="form-group">
                                <label>@Html.LabelFor(model => model.HinhAnh,"Hình Ảnh")</label>
                                @Html.TextBoxFor(model => model.HinhAnh, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.HinhAnh)
                            </div>
                            <div class="form-group">
                                <label>@Html.LabelFor(model => model.GhiChu,"Ghi Chú")</label>
                                @Html.TextBoxFor(model => model.GhiChu, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.GhiChu)
                            </div>
                            <p>
                                <input class="btn btn-outline-primary btn-user btn-block" type="submit" value="Chỉnh Sửa" />
                            </p>
                        }

                        <div>
                            @Html.ActionLink("Trở Về", "Index")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
