@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}
@using Shop_Quan_Ao.Models
@model List<SanPham>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh Sách Sản Phẩm</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã Sản Phẩm</th>
                        <th>Mã Danh Mục</th>
                        <th>Tên Sản Phẩm</th>
                        <th>Số Lượng</th>
                        <th>Đơn Giá</th>
                        <th>Ảnh</th>
                        <th>Ghi Chú</th>
                    </tr>
                </thead>
                <tfoot>
                    @foreach (var item in Model)
                    {
                    <tr class="row_@item.MaSP">
                        <td>@item.MaSP</td>
                        <td>@item.DanhMuc.MaDM</td>
                        <td>@item.TenSP</td>
                        <td>@item.SoLuong</td>
                        <td>@item.DonGia</td>
                        <td>
                            <img src="~/Content/Hinh/@item.HinhAnh" alt="sp" class="container__card-img">
                        </td>
                        <td>@item.GhiChu</td>
                        <td>
                            <a href="/Admin/SanPham/Edit/@item.MaSP">Sửa</a>
                            @Html.ActionLink("Xóa", "Delete", "SanPham")
                            @Html.ActionLink("Thêm", "Create", "SanPham")
                        </td>
                    </tr>

                    }

                </tfoot>
            </table>
        </div>
    </div>
</div>
